<div id="kiko-slider">
  
    <ul class="slider">
      <li id="slide1">
          <h1>Titulo 1</h1>
          <h3>Descripción 1</h3>
          <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Playa_1_La_Mochila.jpg"/>
      </li>
      <li id="slide2">
          <h1>Titulo 2</h1>
          <h3>Descripción 2</h3>
          <img src="https://img.freepik.com/foto-gratis/hermosa-playa-tropical-mar-palmera-coco-isla-paradisiaca_74190-2206.jpg"/>
      </li>
      <li id="slide3">
          <h1>Titulo 3</h1>
          <h3>Descripción 3</h3>
          <img src="https://st2.depositphotos.com/6544740/9337/i/600/depositphotos_93376090-stock-photo-sunset-over-an-ocean-beach.jpg"/>
      </li>
    </ul>
    
    <ul class="menu">
      <li>
        <a href="#slide1">1</a>
      </li>
      <li>
        <a href="#slide2">2</a>
      </li>
       <li>
        <a href="#slide3">3</a>
      </li>
    </ul>
    
  </div>
