<div style="padding-left: 30%; padding-right: 30%; padding-top:1%; padding-bottom: 1%;">
    <div class="row">
        <div class="col" align="center" justify="center">
            <br>
            <h6>{{ instrumentoaux.cantidadVendida }} vendidos</h6>

            <button (click)="verInstrumento()" style="padding: 0; border: none; background: none;">
                <span *ngIf="instrumentoaux.imagen.indexOf('http') >= 0; else elseBlock">
                    <img src="{{instrumentoaux.imagen}}" style="max-width: 160px" />

                </span>
                <ng-template #elseBlock>
                    <img src="assets/images/{{instrumentoaux.imagen}}" style="max-width: 160px;"
                        alt={{instrumentoaux.imagen}} />
                </ng-template>

            </button>
            <br /><br />
        </div>
        <div class="col" cols="6">
            <br />
            <h5>{{ instrumentoaux.instrumento }}</h5>
            <h4>$ {{ instrumentoaux.precio }}</h4>
            <span *ngIf="instrumentoaux.costoEnvio === 'G'; else elseBlock2">
                <h6> <img src='assets/images/camion.png' alt='camion' />Envío gratis a todo el país</h6>
            </span>
            <ng-template #elseBlock2>
                <p><img src='assets/images/camion.png' alt='camion' />Costo de envío: ${{ instrumentoaux.costoEnvio }}
                </p>
            </ng-template>

        </div>
    </div>
</div>