<h1>{{instru.instrumento | uppercase}}</h1>
<hr>
<div class="row">
    <div class="col-md-4" style="text-align: center">

        <span *ngIf="instru.imagen.indexOf('http') >= 0; else elseBlock">
            <img src="{{instru.imagen}}" style="max-width: 300px;" class="img-fluid" alt="instru.instrumento" />
        </span>
        <ng-template #elseBlock>
            <img src="assets/images/{{instru.imagen}}" style="max-width: 300px;" class="img-fluid"
                alt="instru.instrumento" />
        </ng-template>
        <br><br>
        <a [routerLink]="['/tarjetainstrumento']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-md-8">
        <p>Vendidos {{instru.cantidadVendida}}</p>
        <h3 style="color: rgb(15, 2, 41)">{{instru.marca}}</h3>
        <hr>
        <p><b>Modelo:</b> {{instru.modelo}}</p>
        <p><b>Precio:</b> ${{instru.precio}}</p>
        <p><b>
            <span *ngIf="instru.costoEnvio === 'G'; else elseBlock2">
                <img src='assets/images/camion.png' alt='camion' />Envío gratis a todo el país
            </span>
            <ng-template #elseBlock2>
                <img src='assets/images/camion.png' alt='camion' /> Costo de Envío: ${{ instru.costoEnvio }}
            </ng-template>

        </b></p>
        <p align="justify"><b>Descripcion:</b> {{instru.descripcion}}</p>

    </div>
</div>