<h3>Instrumento <small>{{ instru.instrumento }}</small></h3>
<div class="button" >
  <div class="col" align="center" justify="center">  
    <button class="btn btn-outline-danger" style="margin-right: 5px;" [routerLink]="['/tablecrud']">Regresar</button>
    <button class="btn btn-outline-success" style="margin-left: 5px;" (click)="addNew(forma)">Nuevo</button></div>
</div>
<hr>

<div class="row" style="padding-left: 30%; padding-right: 30%; padding-top:1%; padding-bottom: 1%;">
    <div class="col"  justify="center">
        <form (ngSubmit)="guardar()" #forma="ngForm">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input id="nombre" [(ngModel)]="instru.instrumento" name="nombre" class="form-control" required
                    minlength="4" placeholder="nombre">
            </div>
            <div class="form-group">
                <label for="precio">Precio</label>
                <input id="precio" type="number" [(ngModel)]="instru.precio" name="precio" class="form-control" required
                    minlength="4" placeholder="Precio">
            </div>
            <div class="form-group">
                <label for="marca">marca</label>
                <input id="marca" [(ngModel)]="instru.marca" name="marca" class="form-control" required minlength="4"
                    placeholder="marca">
            </div>
            <div class="form-group">
                <label for="modelo">modelo</label>
                <input id="modelo" [(ngModel)]="instru.modelo" name="modelo" class="form-control" required minlength="4"
                    placeholder="modelo">
            </div>
            <div class="form-group">
                <label for="imagen">Imagen</label>
                <input id="imagen" [(ngModel)]="instru.imagen" name="imagen" class="form-control" required minlength="4"
                    placeholder="imagen">
            </div>
            <div class="form-group">
                <label for="cantidadVendida">Cantidad Vendida</label>
                <input id="cantidadVendida" type="number" [(ngModel)]="instru.cantidadVendida" name="cantidadVendida"
                    class="form-control" placeholder="cantidadVendida">
            </div>
            <div class="form-group">
                <label for="costoEnvio">Costo de Envío</label>
                <input id="costoEnvio" [(ngModel)]="instru.costoEnvio" name="costoEnvio" class="form-control" required
                    minlength="4" placeholder="costoEnvio">
            </div>
            <div class="form-group">
                <label for="textarea" class="form-label">Descripcion</label>
                <textarea class="form-control" id="descripcion" [(ngModel)]="instru.descripcion" name="descripcion" placeholder="descripcion" rows="3"></textarea>
            </div>
            <div class="form-group" style="padding-top: 1%;">
                <button type="button" class="btn btn-outline-primary" (click)="guardar()">Guardar instrumento</button>

                <span style="text-align: right; width: 500; color: blue; font-weight: bold;">&nbsp;&nbsp;&nbsp; </span>
            </div>
        </form>
    </div>
</div>